body {
    text-align: center;
}
h1 {
    color: #8077a3;
}
h2 {
    color: #948ab7;
}
h3, h4, h5, h6, p {
    text-align: left;
}
p {
    font-size: 1.1em;
}
img {
    display: block;
    width: max-content;
    margin: auto;
    border: 1px solid #F7E2E2;
    border-radius: 3px;
}
section {
    padding: 10% 20%;
}
main {
    padding: 0;
    padding-bottom: 5%;
}
