{% extends "base.html" %}
{% import "header.html" as header %}
{% from "forms.html" import blog_add_edit_form %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_blog.css') }}">
{% endblock %}
{% block content %}
<header>
    {{ header.nav(False, False, True, is_admin) }}
</header>
<main>
    <section>
        <h2>Add blog</h2>
        {{ blog_add_edit_form(add_blog=add_blog, form=form, ckeditor=ckeditor, id=id) }}
    </section>
</main>
{% endblock %}