{% extends "base.html" %}
{% import "header.html" as header %}
{% import "footer.html" as footer %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.privileges < 3 %}
        <div class="popup-warning">
            <div>
                <p>are you sure you want to delete that post?</p>
                <a class="delete-confirm confirm">Yes</a>
                <a class="delete-confirm reject">No</a>
            </div>
        </div>
    {% endif %}
{% endif %}
{{ header.nav(not user.is_authenticated, not user.is_authenticated, True, is_admin) }}
<main>
    <section img_url="{{ blog.img_url }}">
        <h1>{{ blog.title }}</h1>
        <h2>{{ blog.subtitle }}</h2>
    </section>
    <section class="blog-body">
        {{ blog.body | safe }}
        <p class="blog-author">- {{ blog.author.username }}</p>
        {% if user.is_authenticated %}
            {% if user.privileges == 1 or user == blog.author %}
            <div class="blog-operations">
                <a class="edit-post" href="{{ url_for('edit_blog', id=blog.id) }}">Edit post</a>
                <a class="delete-post" href="{{url_for('delete_blog', id=blog.id)}}">Delete post</a>
            </div>
            {% endif %}
        {% endif %}
    </section>
    {% if user.is_authenticated %}
    <section class="comment">
        <form action="{{ url_for('getblog', id=blog.id) }}" method="POST">
            {{ form.csrf_token }}
            {{ form.comment(placeholder="Type Comment here...") }}
            <button type="submit" class="log-in button-padding">Comment</button>
        </form>
    </section>
    {% endif %}
    
    <section class="blog-comment">
        <h3>Comments</h3>
        {% for comment in blog.comment %}
        <div class="blog-comment-item">
            <img src="{{ comment.author.email | gravatar }}" alt="" class="blog-comment-image">
            <div class="blog-comment-description">
                <h4>{{ comment.author.username }}</h4>
                <p>{{ comment.comment_text }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
    
</main>
{{ footer.footer() }}
{% endblock %}