{% macro nav(login=True, signup=True, login_logout_visible=True) %}
<nav class="top-nav">
    <a href="" class="logo">Abu-Blog</a>
    <div class="links">
        <ul>
            <li>
                <a href="{{ url_for('home') }}">
                    Blog
                </a>
            </li>
            <li>
                <a href="{{ url_for('about') }}">
                    About
                </a>
            </li>
            <li>
                <a href="#contact">
                    Contact
                </a>
            </li>
        </ul>
        {% if signup %}
        <button class="sign-up" href="{{ url_for('sign_up') }}">Sign up</button>
        {% endif %}
        {% if login_logout_visible %}
            {% if login %}
            <button class="log-in" href="{{ url_for('login') }}">Log in</button>
            {% else %}
            <button class="sign-up" href="{{ url_for('logout') }}">Log out</button>
            {% endif %}
        {% endif %}
    </div>
    <button class="burger-icon"><i class="fa-solid fa-bars"></i></button>
</nav>
{% endmacro %}
