{% extends "base.html" %}
{% import "header.html" as header %}
{% import "footer.html" as footer %}
{% block title %} Abu-Blog {% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.privileges < 3 %}
        <div class="popup-warning">
            <div>
                <p>are you sure you want to delete that post?</p>
                <a class="delete-confirm confirm">Yes</a>
                <a class="delete-confirm reject">No</a>
            </div>
        </div>
    {% endif %}
{% endif %}
<header>
    {{ header.nav(not user.is_authenticated, not user.is_authenticated) }}
    <div class="hero-content">
        <div class="intro">
            <h1>Abu's blog</h1>
            <h2>Daily news, Life hacks, cute animals and other fun stuff</h2>
            {% if not user.is_authenticated %}
            <button class="sign-up" href="{{ url_for('sign_up') }}">Sign up</button>
            <button class="log-in" href="{{ url_for('login') }}">Log in</button>
            {% endif %}
        </div>
        <div class="cards">
            <div class="card1"></div>
            <div class="card2"></div>
            <div class="card3"></div>
        </div>
    </div>
</header>
<main>
    <h2>Here are some interesting stuff. Check em out!</h2>
    <section class="blog-container">
        {% for blog in blogs %}
        <div class="blog" href="{{ url_for('getblog', id=blog.id) }}">
            <img src="{{ blog.img_url }}" alt="" class="blog-thumbnail">
            <h3 class="title">{{ blog.title }}</h3>
            <h4 class="subtitle">{{ blog.subtitle }}</h4>
            {% if user.is_authenticated %}
                {% if user.privileges == 1 or (user.id == blog.author_id) %}
                <div class="privilege-buttons">
                    <div>
                        <a class="edit-post" href="{{ url_for('edit_blog', id=blog.id) }}">Edit post</a>
                        <a class="delete-post" href="{{url_for('delete_blog', id=blog.id)}}">Delete post</a>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </section>
    {% if user.is_authenticated %}
        {% if user.privileges < 3 %}
        <button class="log-in add-blog" href="{{ url_for('add_blog') }}">Add new Blog</button>
        {% endif %}
    {% endif %}
</main>
{{ footer.footer() }}
{% endblock %}
