{% extends "base.html" %}
{% import "header.html" as header %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style.css') }}">
{% endblock %}
{% block content %}
{{ header.nav(False, True, False) }}
<div class="form-container">
    <h2>Log in</h2>
    {% with flashed_messages=get_flashed_messages() %}
    {% for message in flashed_messages %}
    <div style="color: red;">{{message}}</div>
    {% endfor %}
    {% endwith %}
    <form action="{{ url_for('login') }}" method="POST" novalidate>
        {{ form.csrf_token }}
        {{ form.email(class_="textfield", placeholder="Email") }}
        {{ form.password(class_="textfield", placeholder="Password") }}
        <a href="#" class="forgot-password">forgot password?</a>
        <button type="submit" class="sign-up button-padding" formaction="{{ url_for('sign_up') }}" formmethod="GET">Sign Up</button>
        <button type="submit" class="log-in button-padding">Log In</button>
    </form>
</div>
{% endblock %}
